.screen-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: "LibreBaskerville", serif;
    font-size: 58px;
}

.text-line {
    position: absolute;
    left: 0;
    top: 0;
    width: 300%;
    opacity: 50%;
}

.text-line:nth-of-type(1) { top: 0%; animation: scroll 10s linear infinite; }
.text-line:nth-of-type(2) { top: 8%; animation: scroll 10s linear infinite -3s; }
.text-line:nth-of-type(3) { top: 16%; animation: scroll 10s linear infinite -7s; }
.text-line:nth-of-type(4) { top: 24%; animation: scroll 10s linear infinite -15s; }
.text-line:nth-of-type(5) { top: 32%; animation: scroll 10s linear infinite -11s; }
.text-line:nth-of-type(6) { top: 40%; animation: scroll 10s linear infinite -3s; }
.text-line:nth-of-type(7) { top: 48%; animation: scroll 10s linear infinite -7s; }
.text-line:nth-of-type(8) { top: 56%; animation: scroll 10s linear infinite -15s; }
.text-line:nth-of-type(9) { top: 64%; animation: scroll 10s linear infinite -11s; }
.text-line:nth-of-type(10) { top: 72%; animation: scroll 10s linear infinite -11s; }
.text-line:nth-of-type(11) { top: 80%; animation: scroll 10s linear infinite -9s; }
.text-line:nth-of-type(12) { top: 88%; animation: scroll 10s linear infinite -2s; }
.text-line:nth-of-type(13) { top: 96%; animation: scroll 10s linear infinite -8s; }

@keyframes scroll {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-29.45%); }
}

.circle-background {
    position: absolute;
    width: 1800px;
    height: 1800px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    /* background: radial-gradient(circle closest-side, rgb(255, 0, 0) 34%, rgba(255, 255, 255, 0)); */
    background: radial-gradient(circle closest-side, rgb(255, 255, 255) 34%, rgba(255, 255, 255, 0));
}

.circle {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 60px;
}

.letter {
    position: absolute;
    font-family: "Raleway", sans-serif;
}

.letter:nth-of-type(1) { animation: rotate 36s linear infinite;}
.letter:nth-of-type(2) { animation: rotate 36s linear infinite -2s; }
.letter:nth-of-type(3) { animation: rotate 36s linear infinite -4s; }
.letter:nth-of-type(4) { animation: rotate 36s linear infinite -6s; }
.letter:nth-of-type(5) { animation: rotate 36s linear infinite -8s; }
.letter:nth-of-type(6) { animation: rotate 36s linear infinite -10s; }
.letter:nth-of-type(7) { animation: rotate 36s linear infinite -12s; }
.letter:nth-of-type(8) { animation: rotate 36s linear infinite -14s; }
.letter:nth-of-type(9) { animation: rotate 36s linear infinite -16s; }
.letter:nth-of-type(10) { animation: rotate 36s linear infinite -18s; }
.letter:nth-of-type(11) { animation: rotate 36s linear infinite -20s; }
.letter:nth-of-type(12) { animation: rotate 36s linear infinite -22s; }
.letter:nth-of-type(13) { animation: rotate 36s linear infinite -24s; }
.letter:nth-of-type(14) { animation: rotate 36s linear infinite -26s; }
.letter:nth-of-type(15) { animation: rotate 36s linear infinite -28s; }
.letter:nth-of-type(16) { animation: rotate 36s linear infinite -30s; }
.letter:nth-of-type(17) { animation: rotate 36s linear infinite -32s; }
.letter:nth-of-type(18) { animation: rotate 36s linear infinite -34s; }

@keyframes rotate {
    0% { transform: translate(-50%, -50%) rotateZ(0deg) translate(-300px) rotateZ(-0deg) }
    100% { transform: translate(-50%, -50%) rotateZ(360deg) translate(-300px) rotateZ(-360deg) }
}

.short-poem {
    /* position: absolute; */
    /* transform: translate(0%, -50%); */
    /* top: 50%; */
    /* left: 50%; */
    font-size: 16px;
    text-align: center;
}

/*-- Responsiveness ------------------------------------------------------------------------------*/

@media only screen and (min-width: 680px) {
    /* .page {
        width: 450px;
    }
    
    .dict-nav {
        font-size: 24px;
    }

    .word {
        font-size: 87px;
    }

    .center-block {
        font-size: 24px;
    }

    .subtitle {
        padding-bottom: 23px;
        padding-bottom: 15px;
        border-bottom: 1px solid #ececec;
    }

    .word-type {
        padding-left: 15px;
    }

    .dict-list {
        padding-top: 13.5px;
    } */
}