.heading-title {
    padding: 40px 15px 0 15px;
    font-family: "Raleway", sans-serif;
    font-size: 40px;
}

.single-column {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    width: 500px;
    font-family: "LibreBaskerville", serif;
    font-size: 16px;
}

.paragraph {
    margin-top: 2em;
    line-height: 1.55em;
}
.paragraph:first-of-type {
    margin-top: 1em;
}

@media screen and (orientation:portrait) {
}

@media screen and (orientation:landscape) {
}

@media only screen and (max-width: 400px) {
    body {
      background-color: #F09A9D; /* Red */
    }
}

/* line-height: calc(1.5em + .2vw); */
