.title {
    display: flex;
    flex-direction: row;
    padding: 40px 15px 0 15px;
    font-family: "Raleway", sans-serif;
    font-size: 40px;
    align-items: baseline;

}

.small-portrait-warning {
    padding-left: 15px;
    animation: pulse .7s ease infinite alternate;
}

.single-column {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    font-family: "LibreBaskerville", serif;
    font-size: 16px;
}

.width-extended1 {
    width: 470px;
}
.width-extended2 {
    width: 610px;
}

.paragraph {
    margin-top: 2em;
    line-height: 1.55em;
}
.paragraph:first-of-type {
    margin-top: 1em;
}

.double-column {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    font-family: "LibreBaskerville", serif;
    font-size: 16px;
}
.column {
    margin-bottom: 1em;
}

@keyframes pulse {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 80%;
    }
}

@media only screen and (min-width: 680px) {
    .title {
        width: 680px;
        margin: 0 auto;
    }

    .small-portrait-warning {
        display: none;
    }

    .single-column {
        width: 680px;
        margin: 0 auto;
    }

    .double-column {
        flex-direction: row;
        width: 680px;
        margin: 0 auto;
    }

    .column {
        padding-right: 120px;
    }
}

@media screen and (orientation:landscape) {
    .small-portrait-warning {
        display: none;
    }

    .column {
        padding-right: 120px;
    }
}