.title {
    padding-top: 40px;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 58px;
}

.subtitle {
    padding-bottom: 50px;
    padding-left: 80px;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
}

.poem-list {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    line-height: 1.4em;
}

.poem-title,
.poem-title:visited {
    color: black;
}
.poem-title:hover {
    color: #707070;
}

.poem-title:hover > .special {
    color: #568fcf;
}